In [3]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv('../datasets/train_titanic.csv')

In [5]:
df.shape

(891, 12)

In [ ]:
contingency_table = pd.crosstab(df["Survived"],df["Pclass"], normalize='all')

contingency_table

Pclass           1         2         3
Survived
0         0.089787  0.108866  0.417508
1         0.152637  0.097643  0.133558

In [7]:
contingency_table = pd.crosstab(df["Survived"],df["Pclass"], normalize='all', margins=True)
contingency_table

Pclass           1         2         3       All
Survived
0         0.089787  0.108866  0.417508  0.616162
1         0.152637  0.097643  0.133558  0.383838
All       0.242424  0.206510  0.551066  1.000000